*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inicio {
    background-color: rgb(219, 85, 23);
    
    /* 50% de que? no tiene referencia o sea 50% de 0 es cero */
    /* height: 50%;  */

    /* para eso se usa el vh o vw son 
    medidas relativas con respecto al 
    viewport */
    
    height: 97vh;
    /* width: 80vw; */
}

.header {
    background-color: white;
    height: 12%;
    /* width: 30%; */
    /* si uso la medida en px el
    cuadrado interior permanecerá
    fijo */
}

