  /* selector (etiqueta o tag) {
        Clave: Valor;
        o para decirlo de otra forma es
        Propiedad: Valor; 
      } */

  /* body es un selector de tipo etiqueta */

body {

    /* todo lo que contenga a la etiqueta body, 
    como header, h1, h2, nav, etc. tendrá un 
        color de fondo */
    background-color: teal; 
    /* a cada linea se la denomina declaración css*/

    /* le asigno a todo el documento un tipo de  familia de fuente */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* le asigno a todo el documento un tamaño grande de fuente */
    font-size: large;
}

h2 {
    /* el color de las letras será.... coral */
    color: coral;
}

img {
    /* ancho de imagen */
    /* tener en cuenta que al trabajar con px se debe
    saber anticipadamente el teamaño de la pantalla. */
    width: 300px;
}

.parrafo-imagen {
    /* centra todo dentro del parrafo */
    text-align: center;
}

.subtitulo {
    /* texto centrado en un párrafo */
    text-align: center;
}