* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px black;
    text-align: center;
}

.contenedor {
    background-color: burlywood;
    /* flex los hijos los adapta al ancho y todo en 
    una misma linea */
    display: flex;
}

.item-contenedor {
    /* inline es la minima expresion del div */
    /* inline-block agrupa los div en filas y columnas 
    como si fuera una tabla mantiene la misma proporciones*/
    /* block encolumnado */
    /* display: inline-block; */
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    margin: 10px;
}