/* media queries desde 993 a infinito px */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: tan;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: bolder;
}

/* fila es el contenedor de los flexboxes */
.fila {
    display: flex;
    flex-wrap: wrap;
}

.columna {
    
    /* sin flex respeta 
    el ancho (no adapta...)
    y baja las columnas enteras */
    /* flex: 25%; */

    flex-basis: 25%;
    padding: 20px;
}

/* En las pantallas 
que sean iguales o menores a 992px, 
setea el background */
/* laptop - desde 601 a 992px*/
@media screen and (max-width: 992px) {
    
    /* modifico los estilos de etiquetas,
    clases e ids en dispositivos que tengan
    su pantalla menor o iguales a 992px */
    body {
        background-color: blue;
        color: white;
    }

    .columna {
        /* pasa de una linea de 4 columnas a
        2 lineas de dos columnas c/u */
        flex: 50%;
    }
}

/* celulares 
toda pantalla como ancho maximo de 600px
desde 0 a 600 px*/
@media screen and (max-width: 600px) {
    body {
        background-color: olive;
        color: mediumslateblue;
    }

    .fila {
        flex-direction: column;
    }
}