* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px black;
    text-align: center;
}

/* si el contenedor es flex los hijos tambien */

.contenedor {
    background-color: burlywood;
    /* flex los hijos los adapta al ancho y todo en 
    una misma linea. Flex de flexible, siempre en el 
    contenedor padre. */
    display: flex;

    /* flex-direction: row; */
    /* por defecto es flex-wrap: nowrap; no permite el
    desbordamiento*/
    /* para mantener las dimensiones y que haya un corte
    de linea es  wrap , el cual permite 
    el desbordamiento*/
    
    /* flex-wrap: wrap; */
    /* para mostrar los contenedores en orden inverso */
    /* flex-wrap: wrap-reverse; */
    
    /* flex-flow es una propiedad de atajo para 
    flex-direction y flex-wrap */
    
    /* en este caso ubica en tres columnas de dos filas
    c/u y comienza desde arriba a la derecha */

    flex-flow: row wrap;
    height: 50vh;

    /* posicionamiento sobre el eje principal, 
    ver flex-direction o flex-flow (por defecto es row)
    */
    justify-content: flex-start;

    /* posicionamiento sobre el eje secundario
    si el eje principal es row dicho posicionamiento
    sera sobre column */
    
    /* no funciona si el hijo asigna un height o si 
    flex-direction es column + nowrap */
    align-items: stretch;
    
    gap: 50px;

    /* transition: width 2s, height 2s, background-color 2s, rotate 2s; */

}

.item-contenedor {
    /* inline es la minima expresion del div */
    /* inline-block agrupa los div en filas y columnas 
    como si fuera una tabla mantiene la misma proporciones*/
    /* block encolumnado */
    /* display: inline-block; */
    background-color: cadetblue;
    width: 150px;
    /* si usa stretch en el contenedor no se usa height */
    /* height: 150px; */
    margin: 10px;

    /* darle estilos a las letras en el centro de la caja */
    font-weight: bolder;
    font-size: 3rem;
    color: wheat;
    /* centro de la caja en row */
    text-align: center;

    /* centrar la letra a la caja (columna) */
    line-height: 150px;
}

img {
    width: 150px;
    height: 150px;
}

/* .item-contenedor:hover {
    background-color: rgb(8, 8, 58);
    
} */